# Dependency directories
node_modules/

# Debug log from npm
npm-debug.log*

# Environment variables
.env

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Build directories
dist/
build/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store